@import "tailwindcss";

@theme {
  --font-base-neue-trial: 'Base Neue Trial', sans-serif;
}

@font-face {
  font-family: 'Base Neue Trial';
  src: url('./assets/fonts/BaseNeueTrial-Exp.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}